<script lang="ts">
    import { ContainerStatusSerialized } from '../../Shared/src/ContainerStatusSerialized';
    import ContainerStatus from "./ContainerStatus.svelte";

    let containersStatus: ContainerStatusSerialized[] | undefined = undefined;

    setInterval(() => updateContainersStatus(), 1000);

    async function updateContainersStatus() {
        containersStatus = await window.getContainerStatuses();
    }

</script>

<div id="main">
    {#if typeof containersStatus !== "undefined"}
        <div class="wrapper">
        {#each containersStatus as containerStatus}
            <ContainerStatus containerStatus="{containerStatus}" />
        {/each}
        </div>
    {/if}
</div>

<style>
    h1 {
        text-align: center;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }
    @media only screen and (min-width: 1025px) {
        .wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
</style>