<script lang="ts">
    import { ContainerStatusSerialized } from '../../Shared/src/ContainerStatusSerialized';

    export let containerStatus: ContainerStatusSerialized;
    let isRunning = false;
    let isLoading = false;
    let disabled = true;

    $: disabled = !containerStatus.isCreated;
    $: isRunning = containerStatus.isRunning;

    function toggleContainer() {
        if (containerStatus.isCreated) {
            containerStatus.isRunning ? stopContainer() : startContainer();
        }
    }

    async function stopContainer() {
        isLoading = true;
        await window.stopContainer(containerStatus.name);
        isLoading = false;
    }

    async function startContainer() {
        isLoading = true;
        const result = await window.startContainer(containerStatus.name)
            .catch((e) => console.log('error', e));

        console.log('result', result)
        isLoading = false;
    }
</script>

<div class="wrapper"
     title="{disabled ? 'Container not found' : isLoading ? 'Loading ...' : isRunning ? 'Stop' : 'Start'}"
>
    <h3>{containerStatus.name}</h3>
    <i class="fab fa-docker"
       on:click={toggleContainer}
       class:isRunning
       class:isLoading
       {disabled}
       aria-disabled="{disabled}"
    ></i>
</div>

<style>
    .wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        font-size: 4.5vw;
        padding: 1em;
    }
    h3 {
        margin: 0 1em;
        font-family: monospace;
        flex: 5;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    i {
        color: #943b46;
        transition: all .3s ease;
        font-size: 3em;
        cursor: pointer;
        flex: 1;
    }
    i:hover {
        color: #78adad;
        text-shadow: 0 0 .3em #78adad;
        transition: all .3s ease;
        animation: glowHover .6s ease-in alternate infinite;
    }
    i.isRunning {
        color: #02a2de;
        text-shadow: 0 0 .3em #02a2de;
        transition: all .3s ease;
        animation: glowActive 1s ease-in alternate infinite;
    }
    i.isLoading {
        animation: glow 1s ease-in alternate infinite;
        pointer-events: none;
    }
    i[disabled="true"],
    i[disabled="true"]:hover{
        animation: none;
        color: #444c47;
        pointer-events: none;
        position: relative;
    }
    i[disabled="true"]::after {
        content: '';
        width: 100%;
        height: 5px;
        background-color: #202838;
        position: absolute;
        top: 50%;
        left: 0;
        transform: rotate(45deg);
    }
    @media only screen and (min-width: 1025px) {
        .wrapper {
            font-size: 2em;
            padding: .5em 1em;
        }
        .wrapper:nth-child(odd) {
            justify-content: flex-end;
            flex-direction: row;
        }
        .wrapper:nth-child(even) {
            justify-content: flex-end;
            flex-direction: row-reverse;
        }
        h3 {
            text-align: right;
            flex: inherit;
        }
        i {
            flex: inherit;
        }
    }
    @keyframes glowActive {
        from {
            color: #02a2de;
            text-shadow: 0 0 .3em #02a2de;
        }
        to {
            color: #02b4f8;
            text-shadow: 0 0 .5em #02b4f8;
        }
    }
    @keyframes glow {
        from {
            color: #02a2de;
            text-shadow: 0 0 .3em #02a2de;
        }
        to {
            color: #444c47;
            text-shadow: none;
        }
    }
    @keyframes glowHover {
        from {
            color: #78adad;
            text-shadow: 0 0 .3em #78adad;
        }
        to {
            color: #89c4c4;
            text-shadow: 0 0 .5em #89c4c4;
        }
    }
</style>
